@use './base.scss';
@use './element-plus.scss';

body {
  margin: 0;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}
