.dsrz-card {
  &-header {
    margin-bottom: 16px;
    &-left {
      display: flex;
      align-items: center;
      &-line {
        width: 4px;
        height: 12px;
        background: var(--el-color-primary);
        border-radius: 58px;
        margin-right: 4px;
      }
      &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        color: var(--el-color-primary);
        line-height: 24px;
      }
    }
  }
}
