.dsrz-details {
  height: calc(100vh - var(--dsrz-header-height) - 62px);

  &-button {
    display: flex;
  }

  &-return {
    margin: 16px 0 16px 10px;
  }

  &-scrollbar {
    margin: 0 42px;
    --dsrz-form-item-padding: 0 12px 0 0;
    .el-date-editor {
      --el-date-editor-width: 100%;
    }

    .el-cascader {
      width: 100%;
    }

    .dsrz-table-form {
      --dsrz-form-item-padding: 0;
      margin: 0;
    }

    .dsrz-table-button {
      --dsrz-table-button-margin: 0 0 16px 0;
    }

    .dsrz-table-table {
      --dsrz-table-margin: 0;
    }

    .dsrz-form {
      --el-text-color-regular: #222222;
      .el-form-item__label {
        font-weight: bold;
        margin-bottom: 4px;
      }
      .el-form-item__content {
        padding: var(--dsrz-form-item-padding);
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 42px 20px 42px;
  }
}
