.dsrz-dialog {
  --dsrz-dialog-default-margin-top: 12px;
  --dsrz-dialog-default-margin-right: 16px;
  .el-dialog__header {
    height: 40px;
    background: #e8f3f3;
    font-family:
      PingFang SC,
      PingFang SC;
    font-weight: bold;
    font-size: 16px;
    color: #222222;
    line-height: 40px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    padding-left: 12px;
  }

  .el-dialog__headerbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &-content {
    margin: 12px 20px 0;
  }

  &-display {
    --dsrz-dialog-default-margin-top: 0;
  }

  &-disabled {
    padding-bottom: 12px;
  }

  &-default {
    margin-top: var(--dsrz-dialog-default-margin-top);
    .dsrz-form {
      --dsrz-form-margin: 0 4px 0 20px;
      --el-text-color-regular: #222222;
      .el-form-item__label {
        font-weight: bold;
        margin-bottom: 4px;
      }
      .el-form-item__content {
        margin-right: var(--dsrz-dialog-default-margin-right);
      }
    }

    .dsrz-card {
      margin: 0 4px 0 20px;
      .dsrz-form {
        --dsrz-form-margin: 0;
      }
    }
  }

  &-cancel {
    margin: 12px 0 20px;
  }

  &-confirm {
    margin: 12px 20px 20px 0;
  }
}
