.dsrz-table {
  width: 100%;

  &-form {
    .el-form-item {
      margin: 0 12px 16px 0 !important;
    }

    .el-input {
      --el-input-width: var(--dsrz-table-width);
    }

    .el-select {
      --el-select-width: var(--dsrz-table-width);
    }

    .el-date-editor {
      --el-date-editor-width: var(--dsrz-table-width-2);
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: var(--dsrz-table-button-margin);
  }

  &-table {
    width: auto !important;
    margin: 0 var(--dsrz-table-margin);

    .cell {
      line-height: 22px;
    }

    .el-table__cell {
      padding: 16px 0;
    }

    .el-form-item.is-error {
      margin-bottom: 18px;
    }
  }
  &-pagination {
    justify-content: center;
    height: 40px;
    margin: var(--dsrz-table-pagination-margin);
    background: #ffffff;
  }
}
